In [1]:
#Import Packages
import time
import pandas as pd
import os

In [2]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service as ChromeService
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By

In [3]:
#Use this Url and change city or role accordingly

url1='https://www.linkedin.com/jobs/search?keywords=Marketing%20Data%20Analyst&location=Berlin%2C%20Berlin%2C%20Germany&geoId=106967730&trk=public_jobs_jobs-search-bar_search-submit&position=1&pageNum=0'

In [4]:

driver = webdriver.Chrome(service=ChromeService(ChromeDriverManager().install()))


driver.implicitly_wait(10)
driver.get(url1)

In [5]:
#Find number of job listings

job_count_elements = driver.find_elements(By.CLASS_NAME, 'results-context-header__job-count')

if job_count_elements:
    y = job_count_elements[0].text
    print(y)
else:
    print("Job count element not found.")

121

In [6]:
type(y)

str

In [7]:
n = pd.to_numeric(y)

In [8]:
n

121

In [9]:
#Loop to scroll through all jobs and click on see more jobs button for infinite scrolling

i = 2
while i <= int((n+200)/25)+1: 
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    i = i + 1
    
    try:
        send=driver.find_element_by_xpath("//button[@aria-label='Load more results']")
        driver.execute_script("arguments[0].click();", send)   
        time.sleep(3)
                
    except:
        pass
        time.sleep(5)

In [10]:
#Create empty lists for company name and job title

companyname= []
titlename= []

In [11]:
# #Find company name and append it to the blank list

from selenium.webdriver.common.by import By

try:
    # Find company names using XPath
    company_elements = driver.find_elements(By.XPATH, "//h3[@class='base-search-card__title']")
    
    # Iterate over the elements and append to the list
    for company_element in company_elements:
        company = company_element.text
        companyname.append(company)

except Exception as e:
    print(f"An error occurred in the try block: {e}")

In [12]:
len(companyname)

50

In [13]:
# #Find title name and append it to the blank list

from selenium.webdriver.common.by import By

try:
    # Find title names using XPath
    title_elements = driver.find_elements(By.XPATH, "//h3[@class='base-search-card__title']")
    
    # Iterate over the elements and append to the list
    for title_element in title_elements:
        title = title_element.text
        titlename.append(title)

except Exception as e:
    print(f"An error occurred in the try block: {e}")

In [14]:
len(titlename)

50

In [15]:
#Create dataframe for company name and title

companyfinal = pd.DataFrame(companyname,columns=["company"])
titlefinal = pd.DataFrame(titlename,columns=["title"])

In [16]:
#Join the two lists

x = companyfinal.join(titlefinal)

In [17]:
x

,company,title
0,Data Analyst - Digital Marketing (all genders),Data Analyst - Digital Marketing (all genders)
1,Business Data Analyst - Sales & Customer Tempo...,Business Data Analyst - Sales & Customer Tempo...
2,Junior Digital Analyst (m/w/d),Junior Digital Analyst (m/w/d)
3,Business Data Analyst - Sales & Customer Tempo...,Business Data Analyst - Sales & Customer Tempo...
4,SEM Analyst Europe (M/F/D),SEM Analyst Europe (M/F/D)
5,Digital Analyst (m/w/d),Digital Analyst (m/w/d)
6,Senior Data Analyst (Get a 30% salary increase...,Senior Data Analyst (Get a 30% salary increase...
7,Werkstudent/ Praktikant - Business Intelligenc...,Werkstudent/ Praktikant - Business Intelligenc...
8,Business Analyst Data & AI Life Sciences (w/m/d),Business Analyst Data & AI Life Sciences (w/m/d)
9,Social Media Analyst (w/m/d),Social Media Analyst (w/m/d)
10,Senior Audience Data Analyst - D2C (all genders),Senior Audience Data Analyst - D2C (all genders)
11,Senior Audience Data Analyst - D2C (all gender...,Senior Audience Data Analyst - D2C (all gender...
12,(Junior) Marketing-Analyst (m/w/d) – Hybrid,(Junior) Marketing-Analyst (m/w/d) – Hybrid
13,Businessanalyst*in (m/w/div),Businessanalyst*in (m/w/div)
14,Business Analyst/Controller:in (all genders),Business Analyst/Controller:in (all genders)
15,Business Analyst in Sales Analytics (d/w/m),Business Analyst in Sales Analytics (d/w/m)
16,Marketing Analyst (f/m/d),Marketing Analyst (f/m/d)
17,Senior Marketing Analyst (all genders),Senior Marketing Analyst (all genders)
18,(Senior) Marketing Analyst (d/f/m),(Senior) Marketing Analyst (d/f/m)
19,(Senior) CRM Data Analyst - D2C (all genders) ...,(Senior) CRM Data Analyst - D2C (all genders) ...
20,Referent Web Analyst (m/w/d) mit Fokus Marketi...,Referent Web Analyst (m/w/d) mit Fokus Marketi...
21,(Senior) Marketing Analyst (d/f/m),(Senior) Marketing Analyst (d/f/m)
22,Business Analyst - Credit,Business Analyst - Credit
23,Controller:in / Business Analyst (m/w/d),Controller:in / Business Analyst (m/w/d)
24,Senior Manager Marketing Analytics (m/f/d),Senior Manager Marketing Analytics (m/f/d)
25,Business Analyst (m/w/d)-43_CL_27_2,Business Analyst (m/w/d)-43_CL_27_2
26,Business Analyst (Expansion) (m/f/d),Business Analyst (Expansion) (m/f/d)
27,Business Analyst,Business Analyst
28,Business Analyst (w/m/d),Business Analyst (w/m/d)
29,Business Analyst Anwendungsmanagement,Business Analyst Anwendungsmanagement
30,Duales Studium BWL/Versicherung B.A.,Duales Studium BWL/Versicherung B.A.
31,Business Analyst,Business Analyst
32,Business Analyst (all genders) Digitalisierung,Business Analyst (all genders) Digitalisierung
33,D365 F&O Business Analyst (SCM),D365 F&O Business Analyst (SCM)
34,Business Analyst (w/m/d),Business Analyst (w/m/d)
35,Business Analysts P&C (f/m/x),Business Analysts P&C (f/m/x)
36,Business Analyst (M/W/D),Business Analyst (M/W/D)
37,Avaloq Business Analyst (Avaloq certified,Avaloq Business Analyst (Avaloq certified
38,Business Analyst (M/W/D),Business Analyst (M/W/D)
39,Business Analyst (M/W/D),Business Analyst (M/W/D)
40,Business Analyst & Application Architect (m/w/d),Business Analyst & Application Architect (m/w/d)
41,Business Analyst (M/W/D),Business Analyst (M/W/D)
42,Performance Marketing Manager SEA (m/w/d),Performance Marketing Manager SEA (m/w/d)
43,Business Analyst Value Added Services (m/w/d),Business Analyst Value Added Services (m/w/d)
44,Berater Technology Business Analysis - Technol...,Berater Technology Business Analysis - Technol...
45,B.A. Soziale Arbeit - Betreuung Wohnen Psychos...,B.A. Soziale Arbeit - Betreuung Wohnen Psychos...
46,Duales Studium B.A. International Service Mana...,Duales Studium B.A. International Service Mana...
47,(Senior) Tech Marketing Manager (all genders),(Senior) Tech Marketing Manager (all genders)
48,Business Analyst Insurance (m/w/d),Business Analyst Insurance (m/w/d)
49,(Senior) Tech Marketing Manager (all genders),(Senior) Tech Marketing Manager (all genders)

In [18]:
#Save file in your directory

x.to_csv('linkedin.csv')

In [19]:
#Find job links and append it to a list

job_list = driver.find_elements(By.XPATH, "//a[@class='base-card__full-link']")
    
# Extract href attributes and append to the list
hrefList = []

for e in job_list:
        hrefList.append(e.get_attribute('href'))

In [20]:
hrefList

[]

In [21]:
linklist = pd.DataFrame(hrefList,columns=["joblinks"])

In [22]:
linklist.to_csv('linkedinlinks.csv')

In [23]:
#Close the driver

driver.close()